<div class="flex mx-auto items-center justify-center shadow-lg mt-10 mx-8 mb-20 max-w-lg">
   <form action="/front_api/create" id="comment-form-" class="ajax-form w-full max-w-xl bg-white dark:bg-gray-800 dark:border-gray-600 rounded-lg px-4 pt-2">
      <div class="flex flex-wrap -mx-3 mb-6">
        <input type="hidden" name="type" value="Comment.create" />
        <input type="hidden" name="params[item_id]" value="{{id}}" />
        <input type="hidden" name="params[append]" value="1" />
        <input type="hidden" name="params[item_type]" value="{{item.getClassName()}}" />
         <div class="w-full md:w-full px-3 mb-2 mt-2 dark:text-gray-100">
            <textarea  name="params[comment]" class="bg-gray-100 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='{{lang.translate("Type Your Comment")}}' required></textarea>
         </div>
         <div class="w-full md:w-full flex items-start md:w-full px-3">
            <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
               <svg fill="none" class="w-5 h-5 text-gray-600 mr-1" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
               </svg>
               <p class="text-xs md:text-sm pt-px dark:text-gray-300">{{lang.translate('HTML code is not allowed')}}.</p>
            </div>
            <div class="-mr-1">
               <button type='submit' class="inline-block px-6 py-2 rounded-2xl border transition hover:border-rose-600 dark:text-gray-300 border-rose-400" >{{lang.translate('Post Comment')}}</button>
            </div>
         </div>
      </div>
   </form>
</div>