
            
                

                <div class="w-full lg:flex gap-6 dark:bg-gray-900 bg-white  px-2 py-8 lg:p-8 rounded-lg shadow shadow-lg relative" >

                    <div class="w-full relative  rounded-lg shadow-md  ">
                        <div class="w-full text-primary border-1 p-8">
                            <div class="w-full dark:text-gray-300 text-xl font-bold tracking-wide">{{lang.translate('Found similar Plalists')}} {{app.params.title}}</div>
                        </div>
                        <hr class="opacity-30" />
                        <div class="w-full lg:p-8 py-8 px-2">
                            {% for playlist in search_list.items %}
                            <div class="my-4 h-full lg:flex overflow-hidden rounded-2xl">                     
                            
                                <div class="overflow-hidden w-full lg:w-96 " >
                                    <div class=" p-8 relative overflow-hidden  rounded-2xl" >
                                        <div class="artist-overlay top-[-20px] left-0 absolute w-full h-full py-20 bg-gradient-to-b from-gray-800 to-black"></div>
                                        <img src="/stream?thumbnail=300&image={{playlist.items[0].media.picture_name}}"  class="absolute bg-img left-0 top-0 w-full" />
                                        <div class="lg:block w-full overflow-hidden rounded-2xl text-white mx-auto text-center relative z-10 ">
                                            <a href="/playlist/{{playlist.playlist_id}}"  class="ajax-load"><img src="/stream?thumbnail=300&image={{playlist.items[0].media.picture_name}}"  class="mx-auto w-28 h-28 lg:w-32 lg:h-32 rounded-full shadow-xl" /></a>
                                            <div class="pt-4 text-center lg:text-left  ">
                                                <a href="/playlist/{{playlist.playlist_id}}" class="ajax-load lg:text-2xl text-lg hover:text-gray-100">{{playlist.name}}</a>
                                            </div>
                                            
                                            <div class="lg:flex gap-4 py-2 w-full text-center lg:text-left ">
                                                <span class="text-sm text-gray-100">{{lang.translate('Likes')}} : {{playlist.likes_count}}</span>
                                                <span class="text-sm text-gray-100">{{lang.translate('Items')}} : {{playlist.items|length}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="relative z-10 w-full  gap-4 dark:bg-gray-900 bg-white rounded-2xl lg:px-8 pt-8 pb-4   lg:left-[-25px] lg:right-[-25px]">
                                    
                                    <div class="text-primary w-full relative" id="latest-uploads">
                                        <div id="playlist-items-list" class="">
                                                <ul class="w-full space-y-4 ">
                                                                
                                                    {% for playlist_item in playlist.items %}                                   
                                                    {% if loop.index < 4 %}
                                                    {% set media_item = playlist_item.media %}
                                                    {% set list = {'items': playlist.items|column('media')} %}
                                                    {% include 'views/front/' ~ template ~ '/includes/tracks-list.html.twig' %}
                                                    {% endif %}
                                                    {% endfor %}
                                                        
                                                </ul>
                                        </div>
                                        <a href="/playlist/{{playlist.playlist_id}}" title="{{playlist.name}}" class="ajax-load dark:text-rose-500 hover:text-gray-200 transition block pt-2  ">{{lang.translate('See all')}} {{playlist.items|length}}</a>
                                    </div>
            
                                </div>
            
                            </div>
                            {% endfor %}
                        </div>
                        {% set list = search_list %}
                        {% include 'views/front/' ~ template ~ '/includes/pagination.html.twig' %}
                        
                    </div>  
                </div>
                

         