<div class=" w-full  lg:h-screen gradient-top-overlay min-h-40" id="video-page-container" style=" max-height: calc(100vh - 70px)">


	<iframe class="w-full h-full" src="{{item.main_file.path}}" ></iframe>

</div>
<div class="lg:block hidden w-full h-40 lg:absolute top-0 left-0 gradient-overlay" style="z-index:1; "></div>

{% set customer = app.customer_auth() %}
<div class=" w-full  relative lg:block hidden" id="video-overlay">
	<div class="absolute lg:bottom-20 lg:left-40 bottom-2 py-2 max-w-full  px-2 w-full z-10 text-gray-100 dark:text-gray-300">
		<h1 class="lg:text-4xl text-2xl text-white overflow-hidden">{{item.name}}</h1>

		{% if item.customer_id == customer.customer_id %}
			<div class="{{ following == null ? '' : ' hidden'}} float-right" >
				<a href="/video/edit/{{item.media_id}}" class="ajax-load hover:border-rose-400 hover:text-rose-400 border  border border-4 border-white rounded-full py-2 px-6">
					<span>{{lang.translate('Edit')}}</span>
				</a>
			</div>
		{% endif %}

		<div class="w-full flex gap-4 py-4">
		
                                               
		</div>

	</div>
</div>
<div class="p-4  h-full overflow-hidden rounded-2xl mt-4" x-data="{is_slide: 'slide'}">

	<div class="relative z-10 w-full  gap-4 bg-white dark:bg-gray-900 rounded-2xl p-8 h-full">

		<div class="relative w-full   gap-4 flex lg:flex-row flex-col">
			<div class="relative w-full   gap-4 flex">
				<a href="/artist/{{item.artist.customer_id}}" class="ajax-load flex gap-6 text-primary">
					<img src="/stream?thumbnail=100&image={{item.artist.picture_name}}" alt="User Avatar" class="w-10 h-10 rounded-full">
					<div class="text-xl dark:text-gray-300">{{item.artist.name}}
						<p class="text-xs dark:text-gray-300">{{lang.translate('Artist')}}</p>
					</div>
				</a>
			</div>
			<div class="flex gap-2 flex-none text-primary h-8"> 

				{% set itemId = item.media_id %}
				{% set itemType = 'media' %}
				<div class="flex-none pt-1 ">
					{% include 'views/front/' ~ template ~ '/includes/item-stats.html.twig' %}
				</div>
				<div class="flex-none flex gap-4 stats-icons">
					<span class="relative flex pt-2">
						<span x-on:click="jQuery('#show-box-path').val('video/{{itemId}}'); jQuery('#share-popup').removeClass('hidden')" class="cursor-pointer mx-2 text-sm text-gray-100 "><img src="/src/front_assets/svg/share{{app.is_dark ? '-white' : ''}}.svg" class="w-5"></span>
						<span class="tooltiptext">{{lang.translate('Share')}}</span>
					</span>
					<a  class="cursor-pointer text-gray-600 relative py-1"   x-on:click="(function(){ 
						navigator.clipboard.writeText(embedIframeCode('{{app.CONF.url}}embed_video/{{item.media_id}}'));
						Swal.fire('{{lang.translate('Done')}}', '{{lang.translate('Iframe code copied to your clipboard')}}', 'success'); })()" >
						<img src="/src/front_assets/svg/embed.svg" width="24" />
						<span class="tooltiptext wide">{{lang.translate('Embed Iframe')}}</span>
					</a>

					<span class="pt-1">{{item.created_at|date("M d, Y")}}</span>
				</div>
			</div>
		</div>
		<h2 class="pt-10 text-2xl  text-rose-500 overflow-hidden">{{item.name}}</h2>

		<span class="block pt-10 text-sm text-gray-500">{{lang.translate('About')}}</span>
		<div class="text-primary overflow-auto" style="max-height: 400px;">
			<div class="dark:text-gray-300 py-4">{{item.description|raw| nl2br  }}</div>
		</div>

		{% set relatedVideo = item.related(10, 'video') %}
		{% if relatedVideo|length %}
		<div class="w-full 	pt-6" id="slide-video-items" data-count="4">
			<div class="hs__wrapper" x-data="{is_slide: false}">
			
				<div class=" w-full flex gap-4 text-primary pb-10">
					<div class=" w-full flex gap-4 dark:text-gray-300 ">
					<h3 class="text-2xl  font-normal">{{lang.translate('Fans also watched')}}</h3>
						<a href="/discover/video?params[author_id]={{item.customer_id}}" class="ajax-load p-2 transition hover:text-rose-500">{{lang.translate('See all')}}</a>
					</div>

					<div class="hs__arrows flex gap-4"><a class="arrow disabled arrow-prev"></a><a class="arrow arrow-next"></a></div>
				</div>
				<ul class="hs" >
					{% set list = {'items' : relatedVideo } %}
					{% for media_item in list.items %}
					<li class="hs__item  max-w-[250px]"> 
						{% include 'views/front/'~ app.SystemSetting.template ~ '/includes/video-item.html.twig' %}
					</li>
					{% endfor %}    
				</ul>
			</div>

		</div>
		{% endif %}
		
		{% set related = item.related(10, 'audio') %}
		{% if app.SystemSetting.enable_audio and related|length %}
		<div class="w-full 	pt-6" id="slide-audio-items" data-count="4">
			<div class="hs__wrapper" x-data="{is_slide: false}">
			
				<div class=" w-full flex gap-4 text-primary pb-10">
					<div class=" w-full flex gap-4 dark:text-gray-300 ">
					<h3 class="text-2xl  font-normal">{{lang.translate('Related Audio')}}</h3>
						<a href="/discover?params[author_id]={{item.customer_id}}" class="ajax-load p-2 transition hover:text-rose-500">{{lang.translate('See all')}}</a>
					</div>

					<div class="hs__arrows flex gap-4"><a class="arrow disabled arrow-prev"></a><a class="arrow arrow-next"></a></div>
				</div>
				<ul class="hs" >
					{% set list = {'items' : related } %}
					{% for media_item in list.items %}
					<li class="hs__item  max-w-[250px]"> 
						{% include 'views/front/'~ app.SystemSetting.template ~ '/includes/track_item.html.twig' %}
					</li>
					{% endfor %}    
				</ul>
			</div>

		</div>

		{% endif %}
		
		{% set relatedAudiobooks = item.related(10, 'audiobook') %}
		{% if app.SystemSetting.enable_audiobooks and relatedAudiobooks|length %}
		<div class="w-full 	pt-6" id="slide-audiobooks-items" data-count="4">
			<div class="hs__wrapper" x-data="{is_slide: false}">
			
				<div class=" w-full flex gap-4 text-primary pb-10">
					<div class=" w-full flex gap-4 dark:text-gray-300 ">
					<h3 class="text-2xl  font-normal">{{lang.translate('Related Audiobooks')}}</h3>
						<a href="/discover/audiobook?params[author_id]={{item.customer_id}}" class="ajax-load p-2 transition hover:text-rose-500">{{lang.translate('See all')}}</a>
					</div>

					<div class="hs__arrows flex gap-4"><a class="arrow disabled arrow-prev"></a><a class="arrow arrow-next"></a></div>
				</div>
				<ul class="hs" >
					{% set list = {'items' : relatedAudiobooks } %}
					{% for audiobook in list.items %}
					<li class="hs__item  max-w-[250px]"> 
						{% include 'views/front/'~ app.SystemSetting.template ~ '/pages/audiobook/item.html.twig' %}
					</li>
					{% endfor %}    
				</ul>
			</div>

		</div>

		{% endif %}


		<div class="max-h-[200px] overflow-auto flex py-10" style="flex-direction: column-reverse;" id="comments-list">
			{% set comments = item.comments %}
			{% include 'views/front/' ~ template ~ '/includes/video-comment-block.html.twig' %}
		</div>
		<label for="chat" class="sr-only">{{lang.translate('Your comment')}}</label>
		<form action="/front_api/create" id="comment-short" class="ajax-form w-full " data-element="comments-list" data-prepend="true">
			<div class="flex items-center py-2 px-3 bg-gray-50 rounded-lg dark:bg-gray-700">
				<input type="hidden" name="type" value="Comment.create"/>
				<input type="hidden" name="params[item_id]" value="{{item.media_id}}"/>
				<input type="hidden" name="params[item_type]" value="{{item.getClassName()}}"/>
				<input type="hidden" name="append" value="true"/>
				<textarea id="chat" name="params[comment]" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
				<button type="submit" onclick="(function(){  setTimeout(function(){jQuery('#chat').val(''); }, 1000)})()" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
					<svg class="w-6 h-6 rotate-90" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
					</svg>
				</button>
			</div>
		</form>
	</div>

</div>

<script>

$(function(){
	
	let video = document.getElementById('video-page')
	
    jQuery(document).on('click', '#main-side a', function(){
		var video = document.getElementById('video-page') 
		video.pause()
		video.src =  '';
	})

	addEventListener('load', e => {
		
		playVideo(video, {{app.SystemSetting.autoplay_video ? 'true' : 'false'}})
	})
})
</script>