<div x-data="{}" class="fixed inset-0  overflow-y-auto hidden transition-all transition" id="find-track-popup" role="dialog" aria-modal="true" data-headlessui-state="open" style="z-index:99">
	<div class="min-h-full text-center">
		<div class="fixed inset-0 bg-download_popup blurFilter opacity-100" id="headlessui-dialog-overlay-:r3n:" aria-hidden="true" data-headlessui-state="open"></div>
		<span class="hidden lg:inline-block h-screen align-middle" aria-hidden="true">​</span>
		<div data-testid="loginContainer" class="inline-block dark:text-white w-full max-w-[42.125rem] sm:w-auto overflow-hidden text-left align-middle transition-all transform shadow-xl h-auto md:h-[29.125rem] rounded-xl border-box opacity-100 scale-100">
			<div class="grid grid-cols-7 md:grid-cols-12 h-full relative">
				<div id="find-track-cover" class="login_loginImage__1Djxq bg-cover hidden md:block col-span-2 w-full bg-wynk-dark-dark_popup bg-no-repeat"></div>
				<div class="align-middle bg-wynk-dark-dark_popup col-span-12 px-8 pb-8 pt-10 md:pb-6 md:pl-[2.125rem] md:pr-7 relative flex flex-col justify-between">
					<div onclick="(function(){ return jQuery('#link-channel-submit-button,#channel-find-track-form,#new-channel-link-item,#channel-popup-or').removeClass('hidden'), jQuery('#find-track-popup').addClass('hidden'); })()"  data-testid="loginCrossButton" class="h-6 w-6 right-4 top-4 dark:text-white hover:text-gray-400 cursor-pointer absolute">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
						</svg>
					</div>

					<div class="inline-block w-full">
						<div class="text-primary  w-full  rounded-2xl " id="channel-find-track-form" >
							<div class="w-full ">
								<div class="z-20 rounded-2xl w-full  bg-white dark:bg-gray-900 dark:text-gray-300 p-4 ">
									<form action="/front_api" class="flex items-center max-w-lg mx-auto ajax-form" id="new-item-form">
										<input type="hidden" name="type" value="load-videos-list"/>
										<label for="voice-search" class="sr-only">{{lang.translate('Search')}}</label>
										<div class="relative w-full">
											<div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
												<svg class="w-4 h-4 text-gray-500 dark:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 21 21">
													<path d="M16.6725 16.6412L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
											</div>
											<input placeholder="{{lang.translate('Search for videos')}}"   onclick="(function(){ return jQuery('#new-channel-link-item').addClass('hidden'), jQuery('#new-channel-item').removeClass('hidden');})()" name="params[title]" type="text" id="voice-search" data-element="search-result-popup" data-form="new-item-form" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required/>
											<span class="cursor-pointer absolute inset-y-0 end-0 flex items-center pe-3">
												{% include 'views/front/streaming/popups/speech-to-text.html.twig' %}
											</span>
										</div>
									</form>
								</div>
							</div>
						</div>

						<form action="/front_api/create" class=" max-w-lg mx-auto ajax-form" id="new-channel-link-item">
							<input type="hidden" name="type" value="ChannelMedia.create"/>
							<input type="hidden" name="params[channel_id]" value="{{channel.channel_id}}"/>
							<input type="hidden" name="params[start_at]" value="" id="linkChannelMediaStart"/>
							<input type="hidden" name="params[date]" value="" id="linkChannelMediaStartDate"/>

							<div  class="mt-4 relative flex w-96 max-h-64 overflow-auto flex-col rounded-lg border border-slate-200 dark:border-gray-800 bg-white dark:bg-gray-800 shadow-sm" id="channel-popup-or">
								<nav class="flex min-w-[240px] flex-col gap-1 p-1.5" >
									<span class="text-center">OR</span>
								</nav>
							</div>
							
							<div class="mt-4 relative flex w-96 max-h-64 overflow-auto flex-col rounded-lg border border-slate-200 bg-white bg-white dark:bg-gray-800 bg-white dark:border-gray-800 shadow-sm">
								<nav class="flex min-w-[240px] flex-col gap-1 p-1.5" id="item-link-nav">
									<input placeholder="{{lang.translate('Add MP3 Link directly')}}" name="params[media_path]" onclick="(function(){ return jQuery('#link-channel-submit-button').removeClass('hidden'), jQuery('#new-channel-item, #channel-popup-or, #channel-find-track-form').addClass('hidden'); })()" type="text"  data-form="new-item-link-form" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required/>
								</nav>
								<nav class="flex min-w-[240px] flex-col gap-1 p-1.5" id="item-link-nav">
									<input placeholder="{{lang.translate('Media Title')}}" name="params[title]" onclick="(function(){ return jQuery('#link-channel-submit-button').removeClass('hidden'), jQuery('#new-channel-item, #channel-popup-or, channel-find-track-form').addClass('hidden'); })()" type="text"  data-form="new-item-link-form" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required/>
								</nav>
								
								<div class="text-center w-full py-2 hidden" id="link-channel-submit-button">
									<button type="submit" class="mx-auto mt-2 group relative h-12 w-48 overflow-hidden rounded-lg bg-white text-lg shadow">
										<div class="absolute inset-0 w-3 bg-purple-800 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
										<span class="relative text-black group-hover:text-white">{{lang.translate('Send')}}</span>
									</button>
								</div>
							</div>
						</form>

						<form action="/front_api/create" class=" max-w-lg mx-auto ajax-form hidden" id="new-channel-item">
							<input type="hidden" name="type" value="ChannelMedia.create"/>
							<input type="hidden" name="params[channel_id]" value="{{channel.channel_id}}"/>
							<input type="hidden" name="params[start_at]" value="" id="channelMediaStart"/>
							<input type="hidden" name="params[date]" value="" id="channelMediaStartDate"/>

							<div class="mt-4 relative flex w-96 max-h-64 overflow-auto flex-col rounded-lg border border-slate-200 bg-white dark:bg-gray-800 shadow-sm">
								<nav class="flex min-w-[240px] flex-col gap-1 p-1.5" id="search-result-popup"></nav>
							</div>
							<div class="text-center w-full py-2">
								<button type="submit" class="mx-auto mt-2 group relative h-12 w-48 overflow-hidden rounded-lg bg-white text-lg shadow">
									<div class="absolute inset-0 w-3 bg-purple-800 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
									<span class="relative text-black group-hover:text-white">{{lang.translate('Send')}}</span>
								</button>
							</div>
						</form>
					
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
