                        {% if item.media_id > 0 %}
						<div class="text-primary  w-full  rounded-2xl " id="editChannelPopupInfo">
							<div class="w-full ">
								<div class="z-20 rounded-2xl w-full  bg-white dark:bg-gray-800 dark:text-gray-300 p-4 ">
										<div class="relative w-full">
                                            <label class="tooltip disabled text-slate-800 flex gap-2 w-full items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100">
                                                <input checked type="radio"  class="hidden"/>
                                                <span class="checkmark relative"></span>
                                                <div class="mr-4 grid place-items-center"><img alt="candice" src="{{item.media.picture}}" class="relative inline-block h-12 w-12 !rounded-full object-cover object-center"></div>
                                                <div style="max-width:78%" >
                                                    <h6 class="truncate text-slate-800 font-medium dark:text-gray-300">{{item.media.name}}</h6>
                                                    <p class=" text-sm">{{item.artist.name}}</p>
                                                </div>
                                            </label>

										</div>
									</form>
								</div>
							</div>
						</div>
                        {% endif %}

						<form action="/front_api/update" class=" max-w-lg mx-auto ajax-form" id="edit-channel-item">
							<input type="hidden" name="type" value="ChannelMedia.update"/>
							<input type="hidden" name="params[channel_id]"  value="{{item.channel_id}}"/>
							<input type="hidden" value="{{item.channel_media_id}}" name="params[channel_media_id]"  />
							<div class="w-full p-6 mt-4 relative flex w-96 overflow-auto flex-col rounded-lg  shadow-sm">
                            {% if item.media_id < 1 %}
                                <span class="py-2 block">{{lang.translate('External link')}} </span>
                                <input  type="text"  value="{{item.media_path}}"  disabled class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-2 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="{{lang.translate('Search for media items')}}" required/>
                                <span class="py-2 block">{{lang.translate('title')}} </span>
                                <input name="params[title]" type="text"  value="{{item.title}}"  class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-2 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="{{lang.translate('Search for media items')}}" required/>
                            {% endif %}
								<div class="w-full p-6 mt-4 relative flex w-96 overflow-auto flex-col rounded-lg border border-slate-200 bg-white  dark:border-gray-700 dark:bg-gray-800 shadow-sm" >
									<span class=" py-2 block">{{lang.translate('Date')}} / {{lang.translate('Start time')}} </span>
									<div class="w-full flex gap-2">
										<input name="params[date]"  type="date" value="{{item.date}}" id="channelRecordDate" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-2 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="{{lang.translate('Start date')}}" required/>
										<input name="params[start_at]" step="5" type="time" value="{{item.start_at}}" id="channelRecordStart"  class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-2 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="{{lang.translate('Start time')}}" required/>
									</div>
								</div>
							</div>
							<div class="text-center w-full py-2 flex  gap-2">

								<a href="/front_api/delete?type=ChannelMedia.delete&params[channel_media_id]={{item.channel_media_id}}" data-confirm="{{lang.translate('Are you sure')}}" date-confirm-text="{{lang.translate('Delete this media from channel')}}" class="ajax-link mx-auto mt-2 group relative h-12 w-12 overflow-hidden rounded-lg bg-white  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600 text-lg shadow">
									<img class="p-3" src="/src/front_assets/svg/delete.svg">
								</a>
                                <button type="submit" onclick="(function(){ return setTimeout(function(){calendar.refetchEvents()},2000)})()" class="mx-auto mt-2 group relative h-12 w-48 overflow-hidden rounded-lg bg-white  dark:border-gray-700 dark:bg-gray-800 text-lg shadow">
									<div class="absolute inset-0 w-3 bg-purple-800 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
									<span class="relative text-black group-hover:text-white">{{lang.translate('Send')}}</span>
								</button>
							</div>
						</form>
						<div class="h-10"></div>
