
			
<div class="grid grid-cols-12 gap-y-6 sm:grid-rows-1 mb-10">
	<figure class="max-h-96 group col-span-full overflow-hidden bg-gray-900 sm:col-start-1 sm:col-end-8 sm:row-start-1 sm:row-end-2">
		<a href="/{{item.lang_content.prefix}}" class=" ajax-load"><img class="aspect-14/9 h-full w-full object-cover duration-300 group-hover:scale-110 group-hover:opacity-75" src="/stream?thumbnail=800&image={{item.picture_name}}" alt="{{item.lang_content.title}}"></a>
	</figure>
	<div class="relative text-primary  col-span-full bg-white dark:bg-gray-800 sm:col-start-6 sm:col-end-13 sm:row-start-1 sm:row-end-2 sm:mt-12 lg:mt-[70px] p-6 md:px-7 lg:p-9 lg:pb-12">
		<div class="mb-4 inline-flex bg-accent gap-6 py-1 text-xs uppercase leading-none dark:text-gray-100 lg:mb-7">
      {% set customer = app.customer_auth() %}
			{% set itemId = item.id %}
			{% set itemType = 'article' %}
			{% include 'views/front/' ~ template ~ '/includes/item-stats.html.twig' %}
            
    </div>
		<h2 class=" mb-4 text-2xl leading-none sm:text-xl lg:text-4xl lg:mb-6 lg:tracking-tighter lg:leading-none">
			<a href="/{{item.lang_content.prefix}}" class=" ajax-load transition-colors  dark:text-white dark:hover:text-rose-400 hover:text-rose-400" >{{item.lang_content.title}}</a>
		</h2>
		<div class="dark:text-gray-300  sm:text-sm  lg:text-lg lg:leading-8 tracking-tight">{{item.lang_content.short}}</div>
		<div class="items-center flex gap-2 dark:text-gray-300 mt-3 sm:text-sm lg:mb-6 lg:text-base"><span class="material-symbols-outlined">today</span> <span>{{item.lang_content.created_at|date('M d, Y')}}</span></div>
	</div>
</div>

