        <div class="courses-container" >
            <div class="course">
                <div class="course-preview">
                    <h2 class="truncate" >{{station.name}}</h2>
                </div>
                <div class="course-info dark:bg-gray-800 dark:text-gray-300">
                    <div class="progress-container flex ">
                    </div>
                    <div>
                        <h2 class="py-0 my-0 flex gap-1"><span class="truncate max-w-72 overflow-hidden block station-stream-name" id="station-stream-name{{station.station_id}}">{{station.activeItem.media.name ?? (station.activeItem.title ?? lang.translate('Offline'))}}</span><small class="pt-1 px-2 text-xs text-gray-400">{{lang.translate('Streaming now')}}</small></h2>
                    </div>
                    <button data-station="{{station.station_id}}" class="btn  start-station"><img src="/src/front_assets/svg/play-active.svg" /></button>
                </div>
            </div>
        </div>